export(admin_censoring_events)
export(admin_censoring_time)
export(analyse_ahr)
export(analyse_coxph)
export(analyse_diff_mean_survival)
export(analyse_gehan_wilcoxon)
export(analyse_group_sequential)
export(analyse_logrank)
export(analyse_logrank_fh_weights)
export(analyse_maxcombo)
export(analyse_milestone_survival)
export(analyse_modelstly_weighted)
export(analyse_piecewise_exponential)
export(analyse_rmst)
export(analyse_rmst_diff)
export(assumptions_crossing_hazards)
export(assumptions_delayed_effect)
export(assumptions_progression)
export(assumptions_subgroup)
export(cen_rate_from_cen_prop_delayed_effect)
export(cen_rate_from_cen_prop_crossing_hazards)
export(cen_rate_from_cen_prop_subgroup)
export(create_summarise_function)
export(design_fixed_followup)
export(design_group_sequential)
export(fast_cdf_fun)
export(fast_cumhaz_fun)
export(fast_haz_fun)
export(fast_pdf_fun)
export(fast_surv_fun)
export(fast_quant_fun)
export(fast_rng_fun)
export(generate_crossing_hazards)
export(generate_delayed_effect)
export(generate_progression)
export(generate_subgroup)
export(hr_after_crossing_from_gAHR)
export(hr_after_crossing_from_PH_effect_size)
export(hr_after_onset_from_gAHR)
export(hr_after_onset_from_PH_effect_size)
export(hazard_subgroup_from_PH_effect_size)
export(progression_rate_from_progression_prop)
export(random_censoring_exp)
export(recruitment_uniform)
export(summarise_estimator)
export(summarise_group_sequential)
export(summarise_test)
export(true_summary_statistics_crossing_hazards)
export(true_summary_statistics_delayed_effect)
export(true_summary_statistics_progression)
export(true_summary_statistics_subgroup)
export(analyse_coxph_weighted)
export(mixture_haz_fun)
export(mixture_cumhaz_fun)
export(mixture_cdf_fun)
export(mixture_pdf_fun)
export(mixture_surv_fun)
export(mixture_quant_fun)
export(mixture_rng_fun)

importFrom(Rcpp,evalCpp)
useDynLib(SimNPH, .registration = TRUE)
